.startpage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.startpage header, .startpage footer {
  flex: 0 0 100%;
}

.startpage section {
  flex: 0 0 22%;
}

.menu a {
  text-decoration: none;
  color: rgb(94, 94, 94);
}

.menu a:focus
.menu a:hover {
  text-decoration: underline;
  color: #A62F00;
}
  body {
    background: lightblue url(plane.jpeg) repeat fixed center;
    display: flex;
    flex-wrap: wrap-reverse;
  flex-direction: column;
      align-content: center; 

  }
  section, header, footer {
    outline: 1px solid rgb(255, 0, 0);
  }
 
  header {
    text-align: center;
  }
 
  .startpage h1 {
    font-size: 500%; /* Big title on the start page*/
  }
  .inner{
    margin: 50px auto;
    width: 750px;
    height: 750px;
    background-image: url(https://c.tenor.com/Jo2QM-6M-5UAAAAC/spin-mario.gif); /* or url(https://www.....) if the 
image is online */
    background-size: cover;
    background-position: center;
    position: relative;
    box-shadow: 0px 0px 20px 4px rgba(255, 40, 40, 0.6);
}
  .tagline {
    font-size: 120%;
    padding: 0.5em; /* distance to the border*/
    border-top: 3px double #ff0000;
    border-bottom: 3px double #ff0000;
    margin: 1em 0; /* distance downwards but not upwards*/
  }
 
   .menu h2 {
    margin: 0 0 1em;
    padding: 2em 0;
    background-color: rgb(97, 184, 255);  /* very light gray*/
    text-align: center;
  }
 
  footer {
    margin-top: 3em;
    text-align: center;
    color: #999;
  }